main > div {
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.unity {
    width: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0;
    border: 1px solid black;
}

.row {
    display: flex;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#simu {
    margin-top: 10px;
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid black;
}
