.desc-dant {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.desc-dant h2 {
    width: 50vw;
}

.desc-dant p {
    width: 50vw;
}

.flex-with-img {
    display: flex;
}

.flex-with-img .img-container {
    margin-left: auto;
    width: 30vw;
    height: 30vh;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
}

.img-container .paragraph p {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    font-style: italic;
}

.devices > div {
    margin-bottom: 30px;
}

.devices {
    padding-bottom: 30px;
}
.desc-dant > .flex-with-img:first-child {
    padding-bottom: 100px;
}