header > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(160, 151, 134);
}

header > div > h1 {
    font-size: 4rem;
}

header > div > h1 > i {
    display: inline-block;
    animation: rotation 8s linear infinite;
}

header > div > p {
    text-align: center;
    width: 50vw;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}