:root {
    --main-bg-color: rgb(227, 194, 149);
    --dark-bg-color: rgb(162,139,107);
    height: 100%;
}

body {
    background-color: var(--dark-bg-color);
}

header > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--dark-bg-color);
    background-image: url('../imgs/old-paper.jpg');
    filter:brightness(0.7);
    clip-path: polygon(100% 0, 0 0, 0% 75%, 100% 100%);
}

header > div > h1 {
    font-size: 4rem;
}

header > div > h1 > i {
    display: inline-block;
    animation: rotation 8s linear infinite;
}

header > div > p {
    text-align: center;
    width: 50vw;
    font-size: 1.3rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

main > div {
    background-image: linear-gradient(to bottom, var(--dark-bg-color), var(--main-bg-color));
}

#simus {
    margin-bottom: 30px;
}