.autohide{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar-nav > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu a { 
    background-color: #000000;
    color: white;
}

.navbar-nav > li > .dropdown-menu a:hover {
    opacity: 0.5;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 