main > div {
  margin-top: 50px;
}



#simulador {
  margin: 70px 10% 50px 10%;
  position: relative;
  height: 400px;
  overflow-x: scroll;
}

#simulador div {
  position: absolute;
}

.metal{
  top: 77px;
}

#flip {
  display: block;
  margin-left: auto;
  margin-right: auto;
}